[submodule "fadecandy"]
	path = fadecandy
	url = https://github.com/scanlime/fadecandy.git
[submodule "openpixelcontrol"]
	path = openpixelcontrol
	url = https://github.com/zestyping/openpixelcontrol.git
[submodule "noiz"]
	path = noiz
	url = https://github.com/caseman/noise.git
